.hero-bg {
    background: transparent;
    overflow: hidden;
}

.hero-bg-bg {
    background-image: url(../../images/moon_photo-1447433516455-abac93050eab.jpeg);
    background-size: 889px 888px;
    position: absolute;
    transform: rotate(90deg);
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    margin-top: -27px;
}